
@Scripts.Render("~/bundles/toastr")
@Scripts.Render("~/bundles/bootstrap")

<div class="footer-bottom">
    <div class="container">
        <p>© 2017 Iliyan's blog. All rights reserved | Go to -></p><a href="@Url.Action("Index", "Home")">Home</a>
    </div>
</div>