@model MVCBackendIliyan.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="login">
    <div class="login-grids">
        <div class="col-md-6 log">

            @Html.Partial("_PartialIndex")

        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryunob")
